*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background-image: url(./images/1.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

header h1{
    font-size: 50px;
    font-weight: 700;
    color: #ff7200;
    letter-spacing: 2px;
    cursor: pointer;
    padding-left: 3%;
}

header ul{
    padding-top: 0.5%;
}


header ul li{
    list-style: none;
    display:inline-block;
   
    
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
    margin-left: 100px;

}

header ul li a:hover{
    color: #ff7200;
}

header input{
    border:1px solid #ff7200;
    width: 200px;
    height: 45px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
}

header input:focus{
    outline: none;
    padding-left: 4px;

}

header button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: #ff7200;
    height: 45px;
    width: 85px;
    border-radius:0 5px 5px 0;
    color: #fff;
    font-size: large;
    float: right;
    transition: 0.3s;
}

header button:hover {
    color: black;
  
}


.search{
    padding-right: 2%;
}


main{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descdiv{
    width: 800px;
    padding-left: 3%;
}

.descdiv h1{
    font-size: 100px;
    color: #fff;
}

.descdiv h1 span{
    display: block;
    color: #ff7200;
    font-size: 130px;
}

.descdiv p{
    color: #fff;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 35px;
}

.descdiv a{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 135px;
    background-color: #ff7200;
    padding: 5px 0;
    text-align: center;
    border-radius: 7px;
    margin:4% 0 0 0.5%;  
    transition: 00.3s;
}

.descdiv a:hover{
    color: #fff;
}

.loginbox{
    background-color: #0000009a;
    margin-right: 3%;
    text-align: center;
    width: 350px;
    height: 500px;
    padding-left:9px ;
    border-radius: 7px;
    
}

.loginbox h2{
    color:#ff7200;
    background-color: #fff;
    border-radius: 7px;
    padding:10px;
    width: 300px;
    margin:10% 5% 5% 5%;  
}

.loginbox input{
    outline: none;
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    margin:10% 5% 5% 5%; 
    font-size: 18px;
    font-weight: 500; 
    background-color: transparent;
    border-bottom: 1px solid #ff7200;
}

.submit{
    color:#fff !important;
    background-color: #ff7200 !important;
    border-radius: 7px !important;
    padding: 10px !important;
    width: 300px !important;
    margin: 10% 5% 5% 5% !important;  
    color: #000 !important;
    font-size: large !important;
    cursor: pointer !important;
    transition: 0.3s !important;
}

.submit:hover{
    color: #fff !important;
}

.loginbox input:focus{
    color: #fff;
}

.loginbox input::placeholder{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.loginbox p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 7%;
    color: #fff;
}

.loginbox a{
    color: #ff7200 ;
    text-decoration: none ;
    font-size: 18px ;
    font-weight: 700 ;
    transition: 0.3s ;
}

.loginbox a:hover{
    color: #fff;
}

.loginbox span{
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
}

.loginbox h3{
    font-size: 18px;
    color: #fff;
    margin-top: 5%;
}

.loginbox span .icon{
    display: inline-block;
    color: #fff;
    margin-top: 5%;
    font-size: 30px;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    transition: 0.3s;
}

.loginbox span .icon:hover{
    color: #ff7200;
}